<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cal.mapper.BoardMapper">

    <!-- 게시글 전체 조회 -->
    <select id="selectAll" resultType="com.cal.dto.BoardDto">
        SELECT * FROM board
    </select>

    <!-- 게시글 삭제 -->
    <delete id="delete" parameterType="int">
        DELETE FROM board WHERE id = #{id}
    </delete>

</mapper>
