#top{
    background-color: rebeccapurple;
    width:800px;
    height: 150px;
}
#left{
    background-color: pink;
    height: 700px;
    width: 250px;
    float: left;
  }
  #right{
    background-color: palegreen;
    height: 700px;
    width: 550px;
    float: left;
  }