<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peisia.mapper.GuestMapper">
<!-- 매퍼 인터페이스의 전체 경로를 명시, Java의 GuestMapper 인터페이스와 1:1로 연결, 이 namespace가 일치해야 MyBatis가 연결할 수 있다.  -->
	<!-- resultType 에 복수형(ArrayList 등)을 적는게 아님. 
	그냥 dto 단수의 경로를 적어야됨. -->
	
	<!-- id="getList": GuestMapper 인터페이스의 getList(int limitIndex) 메서드와 연결 -->
	<select id="getList" resultType="com.peisia.dto.GuestDto">
		SELECT * from tbl_guest limit #{limitIndex} , 5
	</select>
	
	<select id="read" resultType="com.peisia.dto.GuestDto">
		<!-- #{bno} << 마이바티스 문법임. -->
		<!--
			매퍼 인터페이스의 read 함수의 매개변수로 넘어오는 값을 받아 처리하는 sql문임.
			
			매개변수로 넘어온 값을 sql 에 삽입하려면
			
			해당 매개변수명을 #{ } 로 묶으면 안에 값이 뿅 나옴.
		-->
		<!-- #{} 안에는 Java 메서드에서 전달된 매개변수를 바인딩. -->
		select * from tbl_guest where bno = #{bno}
	</select>	
	
	<delete id="del">
		delete from tbl_guest where bno = #{bno}
	</delete>
	
	
	<!-- #{btext} << 마이바티스 문법임. -->
	<!--
		매퍼 인터페이스의 write 함수의 매개변수로 넘어오는 값을 받아 처리하는 sql문임.
		
		주의할 부분이 GuestDto 객체가 매개변수로 넘어오는데
		
		마이바티스 변수 #{btext} 를 써도 해당 값을 뽑아옴.
		
		해당 값은 btext 멤버변수 값을 말함.
		(내부적으론 getBtext 함수를 호출해서 얻어옴)		
	-->	
	<insert id="write">
		insert into tbl_guest (btext) values (#{btext})
	</insert>
	
	
	<update id="modify">
		update tbl_guest
		set btext = #{btext}   
		where bno = #{bno}
	</update>	
					
</mapper>


<!-- GuestMapper.java 인터페이스와 짝을 이루는 XML로,
이 인터페이스에 선언된 메서드들을 이 XML에서 SQL로 구현한다. -->



<!-- MyBatis란? -->
<!-- MyBatis는 SQL 매핑을 쉽게 해주는 라이브러리. -->
<!-- 자바 코드와 SQL 문장을 xml이나 에노테이션으로 연결해 준다. -->
<!-- JDBC보다 간편하고, Hibernate보다 직접적인 SQL 제어가 가능하다. -->
<!-- 보통 Spring과 함께 사용된다. -->

<!-- Spring과 MyBatis 의 관계 -->
<!-- Spring은 Framework이고 MyBatis는 라이브러리이다. -->
<!-- Spring Framework -> 전체 애플리케이션 설계 & 흐름 제어 -->
<!-- MyBatis -> DB 퀴리 실행 담당 -->

